ul.custom-tax-widget-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
  }
  
  ul.custom-tax-widget-list li {
    padding: 1rem; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    font-size:3.5em
  }

  ul.custom-tax-widget-list li a {
    text-decoration: none;
    color: #000;
  }

  ul.custom-tax-widget-list li span {
    font-size: 1rem; 
    padding-top: 1rem;
  }
  
  ul.custom-tax-widget-list li i {
    display: block;
    margin-bottom: 5px;
  }
  